.sample {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
}
