.section_title {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content_ {
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.contents {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.contents_wrapper {
    width: 100%;
    max-width: 800px;
}

.wrapper {
    padding: 1em;
    border-radius: 12px;
    container-type: inline-size;
}

@container (max-width: 500px) {
    .wrapper {
        grid-template-rows: 1fr 1fr;
    }
}

.wrapper::before, .wrapper::after {
    content: '';
    width: 100%;
}

.history {
    padding: 60px 20px;
    min-height: 50vh;
    justify-content: flex-start;
    margin-top: 1em;
    position: relative;
    z-index: 0;
}

.history_title {
    text-align: center;
}

.element_wrapper {
    font-size: .875rem;
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-template-areas: "left right";
}

.element_body {
    grid-area: right;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.triangle_right:before {
    grid-area: left;
    --top-margin: 2em;
    position: relative;
    display: flex;
    justify-content: center;
}

.triangle_right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid black;
}

.triangle_right .element_joint:before {
    content: '';
    position: absolute;
    top: 0;
    height: var(--top-margin);
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    background: black;
}

.triangle_right .element_joint:after {
    content: '';
    position: absolute;
    top: calc(var(--top-margin) + 2em);
    height: calc(100% - var(--top-margin));
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    background: black;
}

.date {
    margin-bottom: 2px;
}

.skill {
    margin-top: 1em;
}

/* セクション全体のスタイル */
.skills_section {
    border-radius: 10px;
    color: white;
}

.skills_container {
    padding-top: 20px;
    border-radius: 15px;
    border-color: black;
    /*margin: 0 auto;*/
}

/* グリッドレイアウト */
.skills_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

/* 各スキルボックスのスタイル */
.skill_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    max-height: 100px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.row_odd.line_odd {
    background-color: var(--box-red);
}

.row_odd.line_even {
    background-color: var(--box-white);
    color: var(--box-white-backgroud);
}

.row_even.line_odd {
    background-color: var(--box-white);
    color: var(--box-white-backgroud);
}

.row_even.line_even {
    background-color: var(--box-red);
}

/* 空のボックスに対するスタイル */
.skill_box:empty {
    background-color: transparent;
    border: none;
}

/* 吹き出しのスタイル */
.tooltip {
    position: absolute;
    top: 110%; /* ボックスの下に表示 */
    left: 80%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 100;
    min-width: 200px;
    max-width: 350px;
    white-space: pre-wrap;
    text-align: center;
    font-size: 14px;
}

.tooltip:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 30%;
    transform: translateX(-30%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent; /* 吹き出しの三角形 */
}

/* 空のボックスに対するスタイル */
.skill-box:empty {
    background-color: transparent;
    border: none;
}

.carrier_name {
    font-weight: bold;
}

.carrier_description {
}
