.header {
    width: 100%;
    height: 270px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--color-header);
}

.title {
    position: relative;
    letter-spacing: 0.1em;
    color: var(--color-on-header);
}
